{% extends "base.html" %}

{% block lab %} Лабораторнаая работа 4 {% endblock %}
{% block main %}

    <h1 style="color: blue;">Холодильник</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% elif temperature %}
        <h2 style="color: blue;">Установлена температура: {{ temperature }}°С</h2>
        {% for i in range(snowflakes) %}
            <img class="img1" src='/static/lab4/snowflake.png' alt='Снежинка'>
        {% endfor %}
    {% else %}
        <form method="POST">
            <label for="temperature">Температура (°С):</label>
            <input type="number" id="temperature" name="temperature" required>
            <button type="submit">Установить</button>
        </form>
    {% endif %}

{% endblock %}