{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
<h1>Cookies</h1>
<form>
    <div>
        <label for="color">Выберите цвет текста:</label>
        <input type="color" id="color" name="color" value="{{ color or '' }}">
    </div>
    <div>
        <label for="background-color">Выберите цвет фона:</label>
        <input type="color" id="background-color" name="background-color" value="{{ background_color or '#ffffff' }}">
    </div>
    <div>
        <label for="font-size">Выберите размер шрифта:</label>
        <input type="number" id="font-size" name="font-size" value="{{ font_size or '14' }}">
    </div>
    <div>
        <button type="submit">OK</button>
    </div>
</form>
<a href="/reset">Сбросить</a>
{% endblock %}