<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Богачев Игорь. {{lab}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if lab %}Лабораторная работа 2{% endif %}
    </header>

    <main>
        11x28 = {{expression1}} <br>
        8452/793 = {{expression2}} <br>
        45**8 = {{expression3}} <br>
        <ul>
            {% for f in fruits %}
            <li>{{ f.name }}: {{ f.price }} &#x20bd;</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        &copy; 
        {% if name %}
            {{ name }}, 
        {% else %}
            Анонимус,
        {% endif %}    
        {{ group }}, 
        {{ course }}
        2024
    </footer>
</body>
</html>