<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Богачев Игорь. {{lab}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{lab}}
    </header>

    <main>
        11x28 = {{expression1}} <br>
        8452/793 = {{expression2}} <br>
        45**8 = {{expression3}} 
    </main>

    <footer>
        &copy; {{name}}, {{group}}, {{year}}, 2023
    </footer>
</body>
</html>