{% extends "base.html" %}

{% block lab %} Лабораторная работа 2{% endblock %}

{% block main %}
<h1>Топ бойцов организации К-1</h1>
<ol>
    <li>
        <h2>Эрнесто Хуст</h2>
        <img src="/static/lab2/ernesto_hoost.jpg">
        Эрнесто Фриц Хуст (Прозвище «Мистер Совершенство», род. 11 июля 1965, Хемскерк, Нидерланды) — нидерландский
        спортсмен, выступавший в кикбоксинге, тайском боксе и савате в категориях от полутяжёлого до тяжёлого веса.
        Профессиональный рекорд 121 бой, 99 побед, 21 поражение, 1 ничья. <br>
        Четырёхкратный победитель гран-при K-1 (1997, 1999, 2000, 2002 годы), двукратный победитель гран-при K-2 (1993,
        1994 годы), золотой призёр чемпионата мира по савату (1989 год), чемпион мира по тайскому боксу во втором
        полутяжёлом весе (1989 год, версия WMTA), чемпион мира по кикбоксингу в полутяжёлом весе (1990—1993 годы, версия
        WKA), чемпион мира по тайскому боксу в полутяжёлом весе (1990—1993 годы, версия WMTA), чемпион мира по
        фулл-контакту в полутяжёлом весе (1994 год, версия ISKA). <br>
        Говорит на пяти языках. Объявил о завершении спортивной карьеры после Финала Гран-При К-1 2006 года, который
        проходил в Токио-доуме, Япония. Сейчас легендарный боец занимается тренерской деятельностью.
        У него двое детей — дочь Регги и сын Луис.
    </li>
    <li>
        <h2>Питер Аертс</h2>
        <img src="/static/lab2/peter_aerts.jpg">
        Питер Аертс (Прозвище «Нидерландский Лесоруб», род. 25 октября, 1970) — нидерландский спортсмен,
        выступающий в кикбоксинге и тайском боксе в тяжёлой и супертяжёлой весовых категориях. Профессиональный рекорд
        142 боя, 105 побед, 35 поражений, 2 ничьих. <br>
        Победитель гран-при K-1 (1994, 1995, 1998 годы), чемпион мира по кикбоксингу в тяжёлом весе (1990—1992 годы,
        версия IKBF), чемпион мира по тайскому боксу в тяжёлом весе (1991—1995 годы, версия WMTA), чемпион мира по
        тайскому боксу в супертяжёлом весе (1995—1997 годы, версия WMTA), победитель турнира Night of the Stars (1994
        год). Питер Аертс является самым постоянным участником гран-при К-1, завоевав право на участие в 17 из 19
        финальных турниров.
    </li>
    <li>
        <h2>Сэмми Шилт</h2>
        <img src="/static/lab2/semmy_schilt.jpg">
        Сэмми Шилт (Прозвища: «Небоскреб» (рост 212 см), «Викинг» — также известен как «Сэм Схилт» род. 27 октября 1973
        года)
        — профессиональный нидерландский кикбоксер и боец MMA. Профессиональный рекорд в кикбоксинге: 50 боев, 43
        победы, 6 поражений, 1 ничья. Также выступал по ММА, где провел 41 бой (26 побед, 14 поражений, 1 ничья). <br>
        Четырёхкратный чемпион мирового Гран-при К-1, первый боец
        в истории К-1, выигрывавший чемпионат три раза подряд (с 2005 по 2007 года). В четвёртый раз Сэмми Схилт
        завоевал пояс чемпиона К-1 в 2009 году, закончив все три боя в первых раундах против Жерома Ле Банне, Реми
        Боньяски и Бадра Хари. Неоднократный чемпион мира и Европы по каратэ. Также снимался в эпизодической роли в
        фильме «Перевозчик 3».
    </li>
    <li>
        <h2>Реми Боньяски</h2>
        <img src="/static/lab2/remy_bonjasky.jpg">
        Реми Кеннет Боньяски (Прозвище «Летучий Джентльмен», которое получил за любовь к ударам в прыжке. Род. 10 января
        1976 года, Парамарибо,
        Суринам) — один из лучших кикбоксеров мира, трёхкратный чемпион K-1 (в 2003, 2004 и 2008 годах) и победитель
        других международных соревнований по кикбоксингу. Профессиональный рекорд: 93 боя, 77 побед, 16 поражений.
    </li>
    <li>
        <h2>Энди Хуг</h2>
        <img src="/static/lab2/andy_hug.jpg">
        Андреас «Энди» Хуг (Прозвище «голубоглазый самурай», род. 7 сентября 1964 — 24 августа 2000) — швейцарский
        каратист и кикбоксер, серебряный призёр IV Чемпионата мира по Кёкусинкай карате (1987), чемпион Гран-При К-1
        1996 года. Побеждал таких сильных бойцов, как Эрнесто Хуст, Майкл Томпсон, Майк Бернардо, Кэндзи Мидори, Петер
        Аертс, Мирко «Крокоп» Филиппович и Жером Ле Банне. Профессиональный рекорд: 47 боев, 38 побед, 9 поражений, 1
        ничья. <br>
        24 августа 2000 года умер от лейкимии. Люди были убиты горем. Франсиско Филио, Николас Петтас, Нобукаи Кокуда и
        некоторые другие знаменитые и выдающиеся бойцы-представители различных единоборств несли гроб с телом Энди, а
        официальный диктор Чемпионатов K-1 вызывал Энди со слезами на глазах:<br>
        
        «В красном углу, 180 см, 97.7 кг, настоящий чемпион Гран-при K-1 — Эннди-и Ху-ууг».<br>

        А по громкоговорителям звучала музыка, под которую Энди выходил на ринг — «We will rock you» группы «Queen»…
    </li>
</ol>
{% endblock %}