{% extends "base.html" %}
{% block lab %}Лабароторная работа 7 {% endblock %}

{% block script%}
<script src="{{ url_for('static',filename='lab7/main.js') }}"></script>
<style>
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: green;
    color: white;
}

button:hover {
    background-color: #007706;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 30px;
    top: 200;
    width: 400px;
    height: 300px;
    overflow: auto;
    background-color: rgba(13, 64, 173, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

</style>
</style>
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>

    <table>
        <thead>
            <tr>
                <th>Название (русское)</th>
                <th>Название (оригинальное)</th>
                
                <th>Год</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>

    <script>
        fillFilmList();
    </script>

    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>

    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название фильма на русском:
            <input type="Text" id="title-ru">
            <div id="title_ru-error" class="error-message"></div>
        </label><br>
    
        <label>
            Название фильма на оригинальном языке:
            <i>если фильм русский оставьте пустым</i>
            <input type="Text" id="title">
            <div id="title-error" class="error-message"></div>
        </label><br>
    
        <label>
            Год выпуска:
            <input type="number" id="year">
            <div id="year-error" class="error-message"></div>
        </label><br>
    
        <label>
            Описание:
            <textarea id="description"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>
    
        <button onclick="sendFilm()">ОК</button>
        <button onclick="cancel()">Отмена</button>
    </div>  
{% endblock %}