{% extends "base.html" %}
{% block lab %}Лабароторная работа 7 {% endblock %}

{% block script%}
<script src="{{ url_for('static',filename='lab7/main.js') }}"></script>
<style>


.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

</style>
</style>
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>

    <table>
        <thead>
            <tr>
                <th>Название (русское)</th>
                <th>Название (оригинальное)</th>
                
                <th>Год</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>

    <script>
        fillFilmList();
    </script>

    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>

    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название фильма на русском:
            <input type="Text" id="title-ru">
            <div id="title_ru-error" class="error-message"></div>
        </label><br>
    
        <label>
            Название фильма на оригинальном языке:
            <i>если фильм русский оставьте пустым</i>
            <input type="Text" id="title">
            <div id="title-error" class="error-message"></div>
        </label><br>
    
        <label>
            Год выпуска:
            <input type="number" id="year">
            <div id="year-error" class="error-message"></div>
        </label><br>
    
        <label>
            Описание:
            <textarea id="description"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>
    
        <button onclick="sendFilm()">ОК</button>
        <button onclick="cancel()">Отмена</button>
    </div>  
{% endblock %}