{% extends "base.html" %}
{% block lab %}Лабораторная работа 8{% endblock %}
{% block main %}

    <h1>Список статей</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.article_text }}</p>
                <form action="{{ url_for('lab8.delete_article', article_id=article.id) }}" method="POST" style="display:inline;">
                    <button type="submit">Удалить</button>
                </form>
                <a href="{{ url_for('lab8.edit_article', article_id=article.id) }}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('lab8.create_article') }}">Создать новую статью</a>


{% endblock %}