{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>
    <form action="/lab8/articles/create" method="post">
        <div>
            <label>
                Заголовок: <input type="text" name="title" required>
            </label>
        </div>

        <div>
            <label>
                Текст статьи: <textarea name="article_text" required></textarea>
            </label>
        </div>

        <button type="submit">Создать статью</button>
    </form>
{% endblock %}